.container {
    overflow: hidden;
    padding: var(--spacing-default);
    position: relative;
}

.recipe {
    display: block;
    position: relative;
    white-space: nowrap;
}

.icon {
    margin: 0 var(--spacing-default) 0 0;
}

.recipe.animated {
    --recipe-width: 0; /* Will be set as inline-style. */

    animation: recipe-moving 10s infinite alternate ease-in-out;
}

.container.animated::before, .container.animated::after {
    bottom: 0;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: var(--spacing-default);
    z-index: 1;
}

.container.animated::before {
    animation: container-shadow 10s infinite alternate ease-in-out;
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, transparent 100%);
    left: 0;
}

.container.animated::after {
    animation: container-shadow 10s infinite alternate-reverse ease-in-out;
    background: linear-gradient(90deg, transparent 0%, rgb(0, 0, 0) 100%);
    right: 0;
}

@keyframes recipe-moving {
    from {
        transform: translateX(0);
    }
    5% {
        transform: translateX(0);
    }
    95% {
        transform: translateX(calc(100% - var(--recipe-width)));
    }
    to {
        transform: translateX(calc(100% - var(--recipe-width)));
    }
}

@keyframes container-shadow {
    from {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    20% {
        opacity: 50%;
    }
    to {
        opacity: 50%;
    }
}
