.details {
    align-items: center;
    display: grid;
    grid-gap: var(--spacing-large);
    grid-template-areas: "ingredients separator products";
    grid-template-columns: 1fr auto 1fr;
}

.ingredients {
    grid-area: ingredients;
}

.separator {
    pointer-events: none;
    color: var(--color-card-combined);
    grid-area: separator;
    height: 5rem;
    width: 5rem;
}

.crafting {
    height: 9rem;
    width: 9rem;
    margin: -2rem;
}

.products {
    grid-area: products;
}
