.card {
    align-items: center;
    display: grid;
    gap: 0 var(--spacing-small);
    grid-template-areas:
        "icon type star"
        "icon label star"
    ;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto;
    padding: var(--spacing-small);
    transition: background .25s ease;
}

.icon {
    grid-area: icon;
}

.type {
    grid-area: type;
}

.label {
    grid-area: label;
}

.star {
    border-left: var(--border-default);
    grid-area: star;
    margin: calc(-1 * var(--spacing-small)) calc(-1 * var(--spacing-small)) calc(-1 * var(--spacing-small)) 0;
    padding: var(--spacing-small);
}
