.card {
    align-items: center;
    display: grid;
    gap: 0 var(--spacing-small);
    grid-template-areas:
        "icon label"
    ;
    grid-template-columns: auto 1fr;
    padding: var(--spacing-small);
    transition: background .25s ease;
}

.icon {
    grid-area: icon;
}

.label {
    grid-area: label;
}
