.text {
    color: var(--color-text-default);
    font-size: var(--text-size-default);
}

.nowrap {
    height: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.size-small {
    font-size: var(--text-size-small);
}

.size-large {
    font-size: var(--text-size-large);
    font-weight: bolder;
}
.size-large.nowrap {
    /* For some reason we have to set the height of the large nowrap text or grid layouts will have issues. */
    height: calc(var(--text-size-large) * 1.25);
}

.size-headline {
    font-size: var(--text-size-headline);
    font-weight: bolder;
}

.size-headline-sidebar {
    font-size: var(--text-size-headline-sidebar);
    font-weight: bolder;
}

.size-title {
    font-size: var(--text-size-title);
    font-weight: bolder;
}

.style-bold {
    font-weight: bolder;
}

.style-monospace {
    font-family: monospace;
}

.style-uppercase {
    color: var(--color-text-pale);
    text-transform: uppercase;
}

.style-white {
    color: var(--color-text-invert);
    font-weight: bolder;
    text-shadow: var(--shadow-text);
}

