.grid {
    --num-columns: 3; /* Will be set as inline-style. */

    display: grid;
    gap: var(--spacing-tiny);
    grid-template-columns: repeat(var(--num-columns), 1fr);
    margin: var(--spacing-default) 0;
}
