.card {
    background: var(--color-card-default);
    backdrop-filter: var(--filter-backdrop);
    box-shadow: var(--shadow-box);
    color: var(--color-text-default);
}

.spacing {
    margin: var(--spacing-nano) 0;
}