.head {
    align-items: center;
    background: var(--color-card-highlight);
    border-bottom: var(--border-default);
    display: grid;
    grid-template-areas:
        "icon label"
    ;
    grid-template-columns: auto 1fr;
    grid-gap: 0 var(--spacing-default);
    padding: var(--spacing-small) var(--spacing-default);
}

.style-title {
    padding: var(--spacing-default);
}

.label {
    grid-area: label;
}

.icon {
    grid-area: icon;
}
