.detail {
    display: grid;
    grid-template-areas: "label icon value";
    grid-template-columns: 2fr auto 1fr;
    grid-gap: var(--spacing-tiny);
    align-items: center;
    padding: var(--spacing-nano);
}

.icon {
    grid-area: icon;
}

.label {
    grid-area: label;
    text-align: right;
}

.value {
    grid-area: value;
}
