.detail {
    display: grid;
    grid-template-areas: "label value";
    grid-template-columns: 5rem 1fr;
    grid-gap: var(--spacing-tiny);
    align-items: center;
    padding: var(--spacing-nano);
}

.label {
    grid-area: label;
    height: auto;
    text-align: right;
}

.value {
    grid-area: value;
    height: auto;
}
