.line {
    display: grid;
    align-items: center;
    grid-template-areas: "amount icon label";
    grid-template-columns: 4rem auto 1fr;
    grid-gap: var(--spacing-default);
    padding: var(--spacing-small);
}

.amount {
    grid-area: amount;
    text-align: right;
}

.icon {
    grid-area: icon;
}

.label {
    grid-area: label;
}