.search {
    align-items: center;
    display: grid;
    grid-template-columns: auto 1fr auto;
}

.center {
    max-width: 50rem;
    margin: 2rem auto;
    width: 100%;
}

.input {
    border: none;
    border-radius: unset;
    box-shadow: var(--shadow-box);
    font-size: var(--text-size-headline);
    opacity: 0.5;
    padding: var(--spacing-default) calc(var(--icon-size-large) + var(--spacing-small));
    transition: opacity .25s ease;
    width: 100%;
    grid-column: 1 / 4;
    grid-row: 1;
}

.input:focus, .input:hover {
    opacity: 0.75;
}

.searchIcon {
    height: var(--icon-size-large);
    grid-column: 1;
    grid-row: 1;
    opacity: 0.5;
    padding: 0 var(--spacing-small);
    pointer-events: none;
    width: var(--icon-size-large);
    z-index: 1;
}

.close {
    cursor: pointer;
    height: var(--icon-size-large);
    grid-column: 3;
    grid-row: 1;
    padding: 0 var(--spacing-small);
    opacity: 0.5;
    transition: opacity .25s ease;
    width: var(--icon-size-large);
    z-index: 1;
}

.close:hover {
    opacity: 0.75;
}

.closeIcon {
    height: var(--icon-size-large);
    width: var(--icon-size-large);
}
