.header {
    align-items: center;
    background: #165868 url("../../assets/layout/water.webp");
    display: grid;
    grid-template-areas:
        "logo search"
    ;
    grid-template-columns: 24rem 1fr;
    margin-bottom: 0.5rem;
    position: relative;
}

.header::after {
    background: url("../../assets/layout/border-top.webp");
    background-size: 32rem;
    content: "";
    display: block;
    height: 1.5rem;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    bottom: -0.75rem;
}

.big {
    grid-template-areas:
        "logo"
        "search"
    ;
    grid-template-columns: auto;
    padding: 8rem 1rem;
}
:global(.breakpoint-medium) .big {
    padding: 6rem 1rem;
}
:global(.breakpoint-small) .big {
    padding: 4rem 1rem;
}

.logo {
    grid-area: logo;
    padding: var(--spacing-large);
}

.big .logo, .big .search {
    padding: 0;
}

.search {
    grid-area: search;
    padding: var(--spacing-large);
}
