.container {
    background: #60605F url("../../assets/layout/terrain.webp");
    display: grid;
    grid-template-columns: 24rem auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header header"
        "sidebar content"
        "footer footer"
    ;
    min-height: 100vh;
}

.container.index {
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "content"
        "footer"
    ;
}

.header {
    grid-area: header;
}

footer {
    grid-area: footer;
}

.content {
    grid-area: content;
    padding: var(--spacing-large);
}
.sidebar {
    grid-area: sidebar;
    padding: var(--spacing-large);
}