.recipe {
    align-items: stretch;
    display: grid;
    grid-template-areas: "link details tech";
    grid-template-columns: 1fr 2fr auto;
    grid-template-rows: 1fr;
    grid-gap: 0 var(--spacing-nano);
}

.link {
    align-items: center;
    display: grid;
    grid-area: link;
    grid-template-areas:
        "icon ."
        "icon type"
        "icon label"
        "icon ."
    ;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto auto 1fr;
    grid-gap: 0 var(--spacing-default);
    padding: 0 var(--spacing-default);
}

.icon {
    grid-area: icon;
}

.type {
    grid-area: type;
}

.label {
    grid-area: label;
}

.tech {
    align-self: center;
    grid-area: tech;
    margin: var(--spacing-tiny);
}

.details {
    border-left: var(--border-default);
    border-right: var(--border-default);
    grid-area: details;
}
