.card {
    align-items: center;
    cursor: pointer;
    display: grid;
    grid-template-areas:
        "icon label value"
        "icon description description"
    ;
    grid-template-columns: auto auto 1fr;
    grid-gap: var(--spacing-tiny) var(--spacing-default);
    padding: var(--spacing-small) var(--spacing-default);
}

.icon {
    grid-area: icon;
}

.label {
    grid-area: label;
}

.value {
    grid-area: value;
}

.description {
    grid-area: description;
}
