.card {
    display: grid;
    grid-gap: 0 var(--spacing-small);
    grid-template-areas:
        "machine ."
        "machine title"
        "machine message"
        "machine ."
    ;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto auto 1fr;
    padding: var(--spacing-default) var(--spacing-large) var(--spacing-default) var(--spacing-default);
}

.machine {
    background: url("../../assets/error/machine.webp") no-repeat;
    grid-area: machine;
    height: 8rem;
    position: relative;
    width: 8rem;
}

.machine::after {
    animation: error-icon-blink 1s steps(2) infinite;
    background: url("../../assets/error/warning.webp") no-repeat;
    content: "";
    height: 3rem;
    left: 2.5rem;
    position: absolute;
    top: 2.5rem;
    width: 3rem;
}

.title {
    border-bottom: 0.125rem solid hsl(0deg, 0%, 20%);
    grid-area: title;
    margin-bottom: var(--spacing-default);
}

.message {
    grid-area: message;
}

@keyframes error-icon-blink {
    0% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}