.head {
    align-items: center;
    display: grid;
    grid-gap: 0 var(--spacing-default);
    grid-template-areas: "icon label";
    grid-template-columns: auto 1fr;
    padding: var(--spacing-small) var(--spacing-default);
}

.icon {
    grid-area: icon;
}

.label {
    grid-area: label;
}

.details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: column;
    padding: var(--spacing-small);
}
