.card {
    display: grid;
    grid-template-areas:
        "icon ."
        "icon label"
        "icon ."
        "icon line"
        "icon ."
        "icon details"
        "icon ."
    ;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto 1fr auto 1fr auto 1fr;
    grid-gap: 0 var(--spacing-default);
    padding: var(--spacing-small);
    position: relative;
}

.icon {
    grid-area: icon;
}

.label {
    grid-area: label;
}

.line {
    grid-area: line;
}

.details {
    grid-area: details;
}

.external {
    position: absolute;
    right: var(--spacing-small);
    bottom: var(--spacing-small);
}
