.card {
    align-items: center;
    display: grid;
    grid-template-areas: "icon text";
    grid-template-columns: auto 1fr;
    grid-gap: var(--spacing-small);
    padding: var(--spacing-small) var(--spacing-default);
}

.icon {
    grid-area: icon;
}

.text {
    grid-area: text;
}