.wrapper {
    display: inline-block;
    line-height: 0;
    position: relative;
}

.text {
    font-size: var(--text-size-default);
    left: -50%;
    pointer-events: none;
    position: absolute;
    right: -50%;
    text-align: center;
    z-index: 10;
    top: calc(50% - var(--text-size-default) / 2.0);
    line-height: var(--text-size-default);
}

.left {
    left: calc(var(--text-size-default) / -2.0);
    right: auto;
}

.right {
    left: auto;
    right: calc(var(--text-size-default) / -2.0);
}

.top {
    bottom: auto;
    top: calc(var(--text-size-default) / -2.0);
}

.bottom {
    bottom: calc(var(--text-size-default) / -2.0);
    top: auto;
}
