.icon {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: var(--icon-size-medium);
    line-height: 0;
    width: var(--icon-size-medium);
}

.tiny {
    height: var(--icon-size-tiny);
    width: var(--icon-size-tiny);
}

.small {
    height: var(--icon-size-small);
    width: var(--icon-size-small);
}

.large {
    height: var(--icon-size-large);
    width: var(--icon-size-large);
}

.huge {
    height: var(--icon-size-huge);
    width: var(--icon-size-huge);
}