.link {
    background-color: hsl(0deg, 0%, 75%);
    border: var(--border-default);
    box-shadow: var(--shadow-box);
    display: inline-block;
    padding: var(--spacing-tiny);
    transition: background .25s ease;
}

.link:hover {
    background-color: hsl(0deg, 0%, 82.5%);
}