:root {
    --color-border-default: hsl(0deg, 0%, 50%);

    --color-card-default: hsl(0deg, 0%, 100%, 60%);
    --color-card-highlight: hsl(0deg, 0%, 100%, 40%);
    --color-card-combined: hsl(0deg, 0%, 100%, 80%);

    --color-text-default: hsl(0deg, 0%, 20%);
    --color-text-pale: hsl(0deg, 0%, 40%);
    --color-text-invert: hsl(0deg, 0%, 95%);
}

html[data-theme=dark] {
    --color-border-default: hsl(0deg, 0%, 20%);

    --color-card-default: hsl(0deg, 0%, 20%, 60%);
    --color-card-highlight: hsl(0deg, 0%, 10%, 40%);
    --color-card-combined: hsl(0deg, 0%, 15%, 80%);

    --color-text-default: hsl(0deg, 0%, 70%);
    --color-text-pale: hsl(0deg, 0%, 50%);
    --color-text-invert: hsl(0deg, 0%, 80%);
}