:root {
    --border-default: var(--spacing-nano) solid var(--color-border-default);

    --filter-backdrop: blur(0.125rem);

    --shadow-box: 1px 1px 2px rgba(0, 0, 0, 0.75);
    --shadow-text: 1px 1px 2px rgba(0, 0, 0, 1);
}
