:root {
    --icon-size-tiny: 1rem;
    --icon-size-small: 1.5rem;
    --icon-size-medium: 2rem;
    --icon-size-large: 3rem;
    --icon-size-huge: 6rem;
}

:root {
    --text-size-small: 0.75rem;
    --text-size-default: 1rem;
    --text-size-large: 1.125rem;
    --text-size-headline: 1.5rem;
    --text-size-headline-sidebar: 1.125rem;
    --text-size-title: 1.75rem;
}