.head {
    align-items: center;
    backdrop-filter: var(--filter-backdrop);
    background: var(--color-card-combined);
    box-shadow: var(--shadow-box);
    color: var(--color-text-default);
    display: grid;
    grid-template-areas:
        "icon label collapse"
    ;
    grid-template-columns: auto 1fr auto;
    grid-gap: 0 var(--spacing-default);
    padding: var(--spacing-default);
}

.spacing {
    margin-top: var(--spacing-huge);
}

.style-sidebar.spacing {
    margin-top: var(--spacing-large);
}

.style-sidebar .head {
    grid-gap: 0 var(--spacing-small);
    padding: var(--spacing-small);
}

.icon {
    grid-area: icon;
}

.label {
    grid-area: label;
}

.collapse {
    grid-area: collapse;
}