@import "style/color.css";
@import "style/misc.css";
@import "style/size.css";
@import "style/spacing.css";

*, ::before, ::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 20rem;
  padding: 0;
}

html, body, input, select {
  font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
}
