.link {
    cursor: pointer;
    text-decoration: none;
    transition: background .25s ease;
}

.box {
    display: block;
    font-size: 0;
}

.hover:hover {
    background: var(--color-card-highlight);
}
